
header, nav {
    display: grid;
    place-items: center;
    text-align: center;
}

header {
    background: grey;
    grid: auto / repeat(3, 1fr);
    position: sticky;
    top: 0;
}
header > h1 {
    grid-area: 1 / 1 / 1 / 3;
}

nav {
    background: sienna;
    grid: repeat(3, 1fr) / auto;
    place-self: end;
}
nav > * {
    inline-size: 12ch;
    padding: 10px 5px;
}

section {
    margin: 10px;
}

@media screen and (min-width: 800px) {
    nav {
        grid: 1fr / repeat(3, 1fr);
    }
}
